{% extends "ollayout.html" %}
{% block main %}
    <br/><br/>
    <h1 class="display-5" style="text-align: center; color:dodgerblue;">Mechanical Engineering Workshop</h1>
    <h1 style="color: steelblue; text-align: center;">Experiment 2: Fitting</h1>
    <br/>
    <h2> <strong>Aim:</strong> <span style="font-size: 25px;">To make a step fitting.</span></h2>
    <br/><br/>
    <h2> <strong>Tools Required:</strong> </h2>
    <br/>
    <p style="font-size: 25px;">Ball-peen hammer</p>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/9f79f47d9b664f238bd7eac5781a5ed0/embed?autostart=0&amp;camera=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>    
    <br/>
    <p style="font-size: 25px;">Hack-saw</p>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="640" height="480" src="https://go.echoar.xyz/ZuyJ" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>    
    <br/>
    <p style="font-size: 25px;">Rasp file</p>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/7f8102d911b74fa7903bebb667d9fc68/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>    
    <br/><br/>
    <h2> <strong>Procedure:</strong> <br/> <br/> <span style="font-size: 25px;">1. Using the vernier height gauge and the v-block with clamp, mark the required dimensions on the rectangular block.</span> <br/> <span style="font-size: 25px;">2. Mark dots on the boundary lines of the pieces to be cut out from the block using a dot punch and a ball peen hammer.</span> <br/> <span style="font-size: 25px;">3. Plane 2 adjacent surfaces of the wooden block using a metal jack plane.</span> <br/> <span style="font-size: 25px;">4. Mark the required dimensions on the block with respect to planed surfaces using steel rule and pencil.</span> <br/> <span style="font-size: 25px;">5. Plane the remaining surfaces using the metal jack plane into required dimensions.</span></h2>
    <br/>
    <center>
        <a class="btn btn-primary btn-lg" href="https://hub.link/qRm5jTe" target="_blank" role="button">Enter Lab</a>
    </center>
    <br/><br/>
    <h2> <strong>Result:</strong> <span style="font-size: 25px;">The step fitting of required dimensions is made.</span></h2>
{% endblock %}