{% extends "ollayout.html" %}
{% block main %}
    <br/><br/>
    <style>
        .row {
            display:flex;
        }
        .column {
            flex: 50%
        }
    </style>
    <h1 class="display-5" style="text-align: center; color:dodgerblue;">Mechanical Engineering Workshop</h1>
    <h1 style="color: steelblue; text-align: center;">Experiment 1: Carpentry</h1>
    <br/>
    <h2> <strong>Aim:</strong> <span style="font-size: 25px;">To cut and plane a wooden block into required dimensions.</span></h2>
    <br/><br/>
    <h2> <strong>Tools Required:</strong>
    <br/><br/>
    <p style="font-size: 25px;">Metal Jack Plane</p>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/c8e3f42e592c4addad281fed0cca95a9/embed?autostart=0&amp;camera=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>    
    <br/>
    <p style="font-size: 25px;">Chisel</p>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/e93e7dbbe1724a309b725d5acc254334/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div> 
    <br/> 
    <p style="font-size: 25px;">Rasp file</p>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/7f8102d911b74fa7903bebb667d9fc68/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>     
    <br/><br/>
    <h2> <strong>Procedure:</strong> <br/> <br/> <span style="font-size: 25px;">1. Fix the wooden block firmly on the carpenter's vice.</span> <br/> <span style="font-size: 25px;">2. Cut it into the required length using steel rule and pencil.</span> <br/> <span style="font-size: 25px;">3. Fix the block on bench vice and using the hacksaw, divide it into 2 pieces through the middle.</span> <br/> <span style="font-size: 25px;">4. Using hacksaw, carefully cut away excess portions from the two pieces to be obtained.</span> <br/> <span style="font-size: 25px;">5. Using the file, file away the excess portions and smoothen the edges till required dimensions are obtained.</span></h2>
    <br/>
    <center>
        <a class="btn btn-primary btn-lg" href="https://hub.link/6gamXpP" target="_blank" role="button">Enter Lab</a>
    </center>
    <br/><br/>
    <h2> <strong>Result:</strong> <span style="font-size: 25px;">A plane wooden block of required dimensions is obtained.</span></h2>
    <br/><br/>
    <h1 style="text-align: center;">Assessment</h1>
    <br/<br/>
    <form action="/expa1" method="post">
        <br/<br/>
        <h3>1) Which tool was used to fix the wooden block?</h3>
        <br/>
        <div class="row">
            <div class="column">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn1" id="exampleRadios1" value="1">
                    <label  style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Bench vice
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn1" id="exampleRadios1" value="2">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Carpenter's vice
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn1" id="exampleRadios1" value="3">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Wheel brace
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn1" id="exampleRadios1" value="4">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Ratchet Brace
                    </label>
                </div>
            </div>
        </div>
        <br/<br/><br/><br/>
        <h3>2) Which tool is used to check the trueness of planed surface?</h3>
        <br/>
        <div class="row">
            <div class="column">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn2" id="exampleRadios1" value="1">
                    <label  style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Marking gauge
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn2" id="exampleRadios1" value="2">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Mortise chisel
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn2" id="exampleRadios1" value="3">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Try square
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn2" id="exampleRadios1" value="4">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Bevel
                    </label>
                </div>
            </div>
        </div>
        <br/<br/><br/><br/>
        <h3>3) The bottom face of wooden jack plane is called?</h3>
        <br/>
        <div class="row">
            <div class="column">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn3" id="exampleRadios1" value="1">
                    <label  style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Base
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn3" id="exampleRadios1" value="2">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Mouth
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn3" id="exampleRadios1" value="3">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Stock
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn3" id="exampleRadios1" value="4">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Sole
                    </label>
                </div>
            </div>
        </div>
        <br/<br/><br/><br/>
        <h3>4) Which type of file is used in wood work ?</h3>
        <br/>
        <div class="row">
            <div class="column">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn4" id="exampleRadios1" value="1">
                    <label  style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Rasp file
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn4" id="exampleRadios1" value="2">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Half-round file
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn4" id="exampleRadios1" value="3">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Round file
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn4" id="exampleRadios1" value="4">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      None of the above
                    </label>
                </div>
            </div>
        </div>
        <br/<br/><br/><br/>
        <h3>5) Which among the following is used for striking as well as for pulling the nails from the wood?</h3>
        <br/>
        <div class="row">
            <div class="column">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn5" id="exampleRadios1" value="1">
                    <label  style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Ball peen hammer
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn5" id="exampleRadios1" value="2">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Claw hammer
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn5" id="exampleRadios1" value="3">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Cross peen hammer
                    </label>
                </div>
                <br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qn5" id="exampleRadios1" value="4">
                    <label style="font-size: 18px;" class="form-check-label" for="exampleRadios1">
                      Mallet
                    </label>
                </div>
            </div>
        </div>
        <br/><br/>
        <center>
        <button class="btn btn-outline-success" type="submit">Submit</button>
        </center>
    </form>
{% endblock %}