{% extends "ollayout.html" %}
{% block main %}
    <br/><br/>
    <h1 class="display-5" style="text-align: center;">Civil Engineering Workshop</h1>
    <h1 style="color: steelblue; text-align: center;">Experiment 2: Flemish Bond</h1>
    <br/>
    <h3> Aim: </h3>
    <h3> Tools Required: </h3>
    <h3> Procedure: </h3>
    <center>
        <a class="btn btn-primary btn-lg" href="https://hub.link/RSVXdRn" target="_blank" role="button">Enter Lab</a>
    </center>
    <h3> Result: </h3>
{% endblock %}